.storiesConatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  position: relative;
}

.textGroup {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textGroup p {
  color: var(--text-input);
  text-align: center;
}

.cardGroup {
  display: flex;
  gap: 24px;
  padding: 4px;
  margin: -4px;
  width: 1136px;
  overflow-x: auto;
  /* restrict swope scroll */
  /* overflow-x: hidden;  */
  scrollbar-width: none;
}

.cardGroup::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.sliderWrapper {
  position: relative;
  display: flex;
  margin-top: 80px;
}

.leftBtn,
.rightBtn {
  position: absolute;
  z-index: 20;
}

.leftBtn {
  left: -64px;
}

.rightBtn {
  right: -65px;
}
